/***********************************

    NOTES

     - TYPOGRAPHY:
        Base font-size (body) is 18px.
        All other fonts are set based on this and according to
        the 'Perfect Fourth' Typographic Scale

***********************************/

/***********************************

    MAIN COLOURS

***********************************/
$body: #DB765E;
$links: #A94327;
$bg: #E8D2B1;
$darktext: #341410;

/***********************************

    MAIN STYLING

***********************************/

body {
    background-color: $bg;
    font-size: 1.2em;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.wrapper {
    margin-top: 7em;

    p {
        width: 400px;
        color: $body;
        line-height: 1.5;
    }

}

main {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;

    background-image: url("/assets/img/internet-bauble_360.png");
    background-repeat: no-repeat;
    background-position: right;
}


h1 {
    color: $darktext;
    font-size: 3.157em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 15px;

}

h2 {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

h5 {
    font-size: 1em;
}

input[type="email"] {
    background: none;
    border: none;
    border-bottom: 2px solid #705C5D;
    color: #705C5D;
    width: 250px;
    outline: none;
}

footer {
    margin: 100px 0 20px 0;

    color: $body;
    font-size: 0.75em;
    text-align: center;
    text-transform: uppercase;
}

footer a {
    color: $links;
    text-decoration: none;
    border-bottom: 1px solid $links;

    &:hover, &:focus {
        border-bottom: 2px solid $links;
    }
}
